html, body{
	padding: 0;
	margin: 0;
	overflow:hidden;
}
#move{
	position: absolute;
}
.fore{
	bottom: 0;
	right: 0;
}
#background{
	min-height: 110vh;
    min-width: 110vw;
}
.img{
	max-height: 100vh;
    min-width: 100vw;
    position: absolute;
    transition: top 250ms ease-out,right 250ms ease-out,bottom 250ms ease-out,left 250ms ease-out;
}
#mainTitle{
	z-index: 100;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%,-50%,0);
	font-size: 7em;
	font-family: 'Unica One', cursive;
	color: #9c9c9c;
	/*background: -webkit-linear-gradient(#bebebe, #9c9c9c);
	background-clip: border-box;
	-webkit-background-clip: text;
	-webkit-text-fill-color: #0000001a;*/
	text-shadow: 0px 12px 15px #000;
	font-weight: bold;
	border-radius: 11px 0 0px 40px;
	/*background-color: #a6a6a666;*/
	padding: 0.3em;
}
#spoonImage{
	position: absolute;
	width: 35vw;
	bottom: -6vh;
	left: 22%;
	transition: transform 1000ms ease-out,left 1000ms ease-out,bottom 1000ms ease-out;
}
#spoonImage.active{
	transform: rotate(-90deg);
	bottom: 17vh;
	left: 7vw;
}
#descriptionCover{
	background-color: rgb(255, 255, 255, 0);
	padding: 1em;
	left: 50%;
	top: 50%;
	transform: translate3d(0%,-50%,0);
	max-width: 40vw;
	font-size: 3em;
	font-family: 'unica One', cursive;
	transition: left 1000ms ease-out, background-color 1000ms ease-out, border 2000ms ease-out, transform 1500ms ease-in;
	font-family: JustAnotherHand;
}
#descriptionCover.active{
	left: 50%;
	transform: translate3d(-50%,-50%,0);
	background-color: rgb(255, 255, 255, 0.4);
	top: 50%;
}
#description{
	position: relative;
}
#descriptionTitle{
	position: relative;
	top: -2em;
	background-color: #e29836;
	padding: 1em;
	width: -moz-fit-content;
}
#Href{
	position: fixed;
	top: 0;
	left:0;
}
.absolute{
	position:absolute;
}
.parallaxBanner{
	width: 100%;
}
.parallaxContent{
	top: 30vh;
	width: 100%;
	height: 70vh;
	background-color: #eee;
}
.bannerImage{
	top: calc(-700px + 20vh);
	width: 100%;
	position: relative;
	transition: top 1000ms ease-out;
}
.bannerImage.active{
	top: 0;
}
.fixed{
	position: fixed;
	z-index: 0;
}
#thirdDescription{
	color: transparent;
	top: 20vh;
	left: 50%;
	transform: translate3d(-50%,0,0);
	font-size: 2.5em;
	font-family: Playball;
	background-color: rgba(0, 0, 0, 0);
	padding: 0.5em;
	border-radius: 20px;
	transition: top 1000ms ease-out,background-color 1000ms ease-out, color 1000ms ease-out 800ms;
	text-align: center;
}
#thirdDescription.active{
	top: calc(10vh - 0.5em);
	background-color: #744302b3;
	color:white;
}
#menuLoader{
	background-color: grey;
	position: relative;
	height: 100%;
	width: 100%;

  background-color: rgba(192, 192, 192, 0.5);
  background-image: url("https://i.stack.imgur.com/MnyxU.gif");
  background-repeat: no-repeat;
  background-position: center;
}
.footer{
	position: absolute;
	bottom: 0;
	background-color: white;
	color: #727272;
	width: 100%;
	text-align: center;
	padding: 1em;
	font-family: Delius;
}
/*-------------------- Caroussel -------------------------*/
.caroussel{
    position: relative;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}
.carousselItem{
	position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    top:0px;
    left: 0px;
    transition: top 1000ms ease-out, left 1000ms ease-out;
}
.carousselIndicator{
    position: absolute;
    top: 50%;
    right: 0;
    margin: 1em;
    transform: translate3d(0, -50%, 0);
}
.carousselIndicatorItem{
	position: relative;
	width: 2vw;
	height: 2vw;
	background-color: #e2983680;
	margin: 10px;
	cursor: pointer;
	border-radius: 10px;
}
.carousselIndicatorItem.active{
	background-color: #e29836;
}
/*------------------- Modiefied List ----------------------------*/
ul.modified{
	list-style-type: none; 
}
ul.modified li{
	display: block;
	float: left;
	width: 29%;
	margin: 1%;
	padding: 1%;
	background-color: #fff;
}
.itemTitle{
	color: #eaeaea;
	position: relative;
	top: -2em;
	background-color: #e29836;
	padding: 1em;	
	text-align: center;
	box-shadow: 0px 3px 8px 0px gray;
}
.contactGIF{
	width: 100%;
}
.contactImg{
	width: 50%;
}
/*--------------- Modified Table -------------------*/
table.modified{
	border: none;
	padding: 1em;
	font-size: 1.2em;
	color: grey;
}
table.modified tr{

}
table.modified td{
	padding: 4px 6px 4px 6px;
}
/*-------- loader ---------------------*/
.lds-roller {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
  transform: scale(3);
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 32px 32px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
  margin: -3px 0 0 -3px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 50px;
  left: 50px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 54px;
  left: 45px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 57px;
  left: 39px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 58px;
  left: 32px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 57px;
  left: 25px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 54px;
  left: 19px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 50px;
  left: 14px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 45px;
  left: 10px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*------------- Arrow -------------------*/
.scrollDown{
	display: inline-flex;
	position: absolute;
	bottom: 6%;
	left: 50%;
	transform: translate3d(-50%,0,0);
	animation: arrow 3000ms cubic-bezier(.22,.61,.36,1) infinite;
	padding: 2em;
	cursor: pointer;
}
.arrow{
	width: 50px;
	height: 6px;
	background-color: black;
	border-radius: 10px;
	margin: -5px;
}
.arrowLeft{
	transform: rotate(30deg);
}
.arrowRight{
	transform: rotate(150deg);
}
@keyframes arrow{
	0%{
		bottom:6%;
		opacity: 1;
	}
	50%{
		bottom: 0%;
		opacity: 0.2;
	}
	100%{
		bottom: 6%;
		opacity: 1;
	}
}
/*----------- Tooltip ----------------*/
.tooltip {
  position: relative;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  right: 120%;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}